/* CSS files add styling rules to your content */
.container {
  background: lightblue;
  text-align: center;
  font-family: "PT Sans Narrow", sans-serif;
}
body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-family: "PT Sans Narrow", sans-serif;
  color: White;
  background: blue;
}
.source {
  font-style: italic;
  text-align: left;
}
